.menuItem {
    width: 100%;
}

.imgBox {
    max-width: 25%;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.order {
    min-width: 30%;
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 1.5rem;
}
.description h6 {
    padding: 0.5rem;
}

@media screen and (min-width: 768px) {
    .order kbd {
        padding: 0.75rem;
        font-size: 1rem;
    }
}